body{
  padding-top:100px;
  font-size: 16px;
}

p{
  margin: 5px,10px,5px,10px;
  text-align: justify;
}


h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

div{
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
}

table{
  border-collapse: collapse;
  margin-bottom: 13px;
}

th, td{
  text-align: center;
}

/*th,td {
   text-align: center;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   font-size: 120%
}*/

.wishlist-table{
  border-spacing: 9px;
  border-collapse: separate;
}

.wishlist-row{
  border-top: 2px ridge gray;
}

.inside-wish{
  font-weight: 700;
  font-size: 105%;
  text-align: justify;
}

.presentable{
  color: #778899;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  margin-left: 30px;

}

.AcercaDe{
  font-weight: 900;
  color: #FFDAB9;
  font-size: 40px;
}

.dentro{
  margin-top: 10px;
  margin-left: 15px;
}

.flexdad{
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
}

.descripcion-form{
  float: left;
  margin-top: 7%;
}

.horicenter{
  display: table;
  margin: 3% auto;
}

.filtros{
  padding: 30px 30px 30px 30px;
  position: absolute;
  float: left;
  background:transparent;
}

.imgTabla{
  max-width: 60%;
  max-height: 60%;
}

.slide_trabajos{
  width:50%;
  height:30%;
  margin: 0 auto;
}
.slide_trabajos img{
  width:100%;
  height:75%;
}

.slide_productos{
  width:200px;
  height:110px;
  float: left;
}

.presentable{
  color: #778899;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  margin-left: 30px;

}

.AcercaDe{
  font-weight: 900;
  color: #FFDAB9;
  font-size: 40px;
}

.dentro{
  position: relative;
}

.flexdad{
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    background: url(img/logo.png) no-repeat ;
    background-size: auto;
    width: 129px;
    height: 100px;
}


.navbar{
  height: 15%;
  background: #3D3D3D;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px -8px yellow;
}
.navmenu li {
    float: left;
    margin-left: 0;
    list-style: none;
}

.navmenu li a{
  position: relative;
  display: block;
  color: #656565;
  line-height: 1.875rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 0.625rem 0.78125rem 0.3125rem;
}
.navbar-header {
    float: left;
    margin-left: 75px;
    margin-top: 0;
    width: 140px;
}
.navbar_logo{
  float: left;
  margin-left: 75px;
  margin-top: 0;
  width: 140px;
  padding-right: 40%
}

.topmenu{
    display: inline ;
    float: right;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    max-height: 340px;
    padding-right: 3px;
    padding-left: 15px;
    margin-top: 50px;
}

.listanavmenu {
    margin-left: 0;
    margin-top: 10px;
}
.navmenu{
    margin: 7.5px -15px;
}
@media only screen and (min-width: 1025px){
  .navmenu {
      float: right;
    }
}
@media only screen and (min-width: 981px){
  .navmenu {
      position: static;
      width: auto;
      height: auto;
      margin-bottom: 0;
      background: none;
      overflow: visible;
      margin-left: -5px !important;
      margin-right: -5px;
  }
}

.linkbar{
  height: 35px;
  background: #DCDCDC;
}

.bottom-menu{
  display: inline ;
  float: right;
  height: auto;
  overflow: visible;
  margin: 0 auto;

}

.link-menu {
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-top: 0;
  clear: both;
}
.link-menu li{
  float: left;
  list-style: none;
}
.link-menu li a{
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 0.625rem 0.78125rem 0.3125rem;
}

.formulario{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  border-style: ridge;
  border-width: 1px;
  border-color: #B0C4DE;
  padding-bottom: 5px;
}

.formulario label {
    padding: 1.5% 40%;
  }
.formulario label.Cpass{
    padding: 1.5% 10%;
  }


.imgTabla{
  max-width: 60%;
  max-height: 60%;
}

.regEmpleados
{
  padding: 1% 20% 1% 20%;
  text-align: center;
  clear:both;
}
.formulario button
{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 40%;
  margin-left: 45%;
  padding: 4px 10px;

}
.caption-style{
  text-align: center;
  padding: 2% 10%;
  font-size: 200%;
}
.table-margin{
  margin: auto;
}

.tabla-prueba{
   background-color: forestgreen;
}

.tabla-empleados
{
  margin:50px auto;
}

.tabla-empleados td{
  padding: 10px;
}

.non-visible-th{
  border-width: 0;
}

.table-button{
  border-width: 0;
}
.Confirmacion_Elim{
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-style: ridge;
  border-width: 1px;
  border-color: #B0C4DE;
  padding: 2%;
  align-items: center;

    text-align: center;
}
.Confirmacion_Elim ul{
  padding: 0;
}
.Confirmacion_Elim ul li{
  display: inline;
  list-style: none;
}

.imgProductsS{
  width: 115px;
  height: 115px;
}
.imgProductsB{
  width: 350px;
  height: 350px;
}

.ViewImage{
  position: fixed;
  top: 23.5%;
  left: 2.6%;
  border-spacing: 7.5px;
}

.mouseOver{
  width: 200px;
  height: 200px;
}

.BarOpc{
  position: relative;
  float: right;
  top: 37.6%;
}

.opc{
  background: black;
}

/*Baja de productos*/
.centro{
  position: absolute;
  top: 18%;
  left: 6%
}

.centroModificacion{
  position: absolute;
  top: 18%;
  left: 28%
}

.centroContacto{
  position: absolute;
  top: 18%;
  left: 22%;
}

.arial{
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

.deleteText{
  font-family: arial;
  font-weight: bold;
}

.size_20{
  font-size: 20px;
}

.tableDelete{
  position: absolute;
  top: 30%;
  left: 25%;
  border-spacing: 40px;
  border-style: solid;
  border-radius: 9px;
  background-color: inherit;;
}


.dentro{
  margin-top: 10px;
  margin-left: 15px;
}


.contacto{
  position: absolute;
  top: 500px;
  left: 30px;
}

.box{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  font: caption;
  color: black;
}

.boxTop{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  font-weight:bold;
  color: black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.boxBottom{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  color: black;
  font: caption;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.bolded-capt{
  font:150% sans-serif;
  font-weight: bold;
}

.tableimg{
width: 300px;
height: 300px;
border-radius: 7px;
}

.tableText{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.barInf{
  background:lightblue;
  border-radius: 9px;
}

.NextPage{
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: sans-serif;
}

.flexdad{
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
}

.middlebar{
  height: 55px;
  background: #ACFA58;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}


.linkbarServicesUp{
  position: relative;
  top: 730px;
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
  height: 35px;
  background: #DCDCDC;
}

.linkbarContactUp{
  position: relative;
  top: 660px;
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
  height: 35px;
  background: #DCDCDC;
}

.linkbarServicesMod{
  position: relative;
  top: 860px;
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
  height: 35px;
  background: #DCDCDC;
}

.TextoFormulario{
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}

.formularyTable{
  margin: 7% auto;
  border-spacing: 40px;
  border-style: solid;
  border-radius: 9px;
  background-color: inherit;
}

.styleTextArea{
  width:400px;
  height:100px;
  border: 2px
  solid #990000;
  border-radius: 9px;
}


.styleName{
  font-size: 80%;
  width:25%;
  height:15%;
  border: 2px
  solid #990000;
  border-radius: 9px;
}

.linkbarFormulary{
  position: relative;
  top: 580px;
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
  height: 35px;
  background: #DCDCDC;
}

.tablestyle{
  position: absolute;
  top: 20.5%;
  left: 23%;
  border-spacing: 25px;
  border-style: double;
  border-radius: 9px;
}



#container {
  overflow: hidden;
  width: 100%;
}
#cant{
  text-align: center;
}

#nombre{
  width: 15%;
  height: 10%;
}

#apellidopat{
  width: 15%;
  height: 10%;
}

#apellidomat{
  width: 15%;
  height: 10%;
}

#mail{
width: 70%;
height: 10%;
}

#reg{
  float: right;
  font-size: 80%;
  width: 20%;
  height: 20%;
}

#regprom{
  float: right;
  font-size: 80%;
  height: 20%;
}

#reset{
  float: right;
  font-size: 80%;
  width: 20%;
  height: 20%;
}

/* Compatibilidad con resolucion usual de un smartphone base de transformacion:3.33*/
@media only screen and (max-width: 360px) and (max-height: 640px) {
}

/* Compatibilidad con resolucion usual de una tableta base de transformacion:1.7*/
@media only screen and (min-width: 800px) and (max-width: 1280px) {
}
