.tablestyle{
  position: relative;
  top: 25px;
  left: 300px;
  border-spacing: 25px;
  border-style: double;
}

th{
  border-style: solid;
}

.dentro{
  margin-top: 10px;
  margin-left: 15px;
}

.filtros{
  position: absolute;
  top:170px;
  left: 30px;
}

.contacto{
  position: absolute;
  top: 500px;
  left: 30px;
}

.box{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  font: caption;
  color: black;
}

.boxTop{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  font-weight:bold;
  color: black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.boxBottom{
  padding: 10px 10px 10px 10px;
  background: lightblue;
  color: black;
  font: caption;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.h2{
  font:150% sans-serif;
  font-weight: bold;
}

.tableimg{
width: 300px;
height: 300px;
border-radius: 7px;
}

.tableText{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.barInf{
  background:lightblue;
  border-radius: 9px;
}

.NextPage{
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: sans-serif;
}

.flexdad{
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
}


.navbar{
  height: 55px;
  background: #B0E0E6;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.middlebar{
  height: 55px;
  background: #ACFA58;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.linkbar{
  position: relative;
  top: 50px;
  display: flex;
  max-width: 100%;
  padding: 10px, 5px;
  height: 35px;
  background: #DCDCDC;
}
